body {
  margin-bottom: 100px !important;
}

img {
  width: 100%;
}

.landing {
  position: relative;
  background: url("./img/showcase.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px;
}

.landing-inner {
  padding-top: 80px;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.movies-container {
  display: flex;
  flex-wrap: wrap;
}

.movies {
  width: 500px;
  margin: 10px;
}

.movies-title {
  text-align: center;
}

.movies-detail {
  font-weight: 900;
}

.movies--item {
  /* width: 800px; */
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  border: 1px solid black;
  padding: 30px;
  margin-top: 10px;
}

.movies--item:hover {
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  color: wheat;
}

.img {
  margin: 10px 0px;
}

.fa-star {
  color: gold;
}

.flexible {
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  flex-wrap: wrap;
  flex-direction: row;
}

.movies-item {
  width: 1000px;
  margin: 10px;
  display: flex;
}

.movies-box {
  margin: auto;
}
.movies-left {
  margin-right: 20px
}

.movies-right {
  width: 500px
}
